* {
    font-family: 'Robonto', sans-serif;
    background-color: lightblue;
}

body {
    width: auto;
}

nav {
    margin-bottom: 10px;
    padding: 1px;
}

li {
    display: inline-block;
    text-align: center;
}

li a {
    text-decoration: none;
    padding-left: 20px;
}

#wrapper {
    text-align: center;
    width: 1100px;
    margin: auto;
}

#picHolder {
    /*background-color: green;*/
    height: 350px;
}

#zenderToevoegen {
    /*background-color: yellow;*/
    width: 1100px;
    margin: auto;
}

#zenderLijst {
    /*background-color: #0000bf;*/
    width: 1100px;
    margin: auto;
}

#wijzigenHolder {
    /*background-color: green;*/
    margin: auto;
    width: 1100px;
    display: inline-block;
}

#overzichtHouder {
    margin-top: 20px;
}

table.zenderoverzicht {
    border-collapse: collapse;
    border: 1px solid black;
    display: inline-block;
}

table.zenderoverzicht td, th {
    border: 1px solid black;
    padding: 5px 30px;
}

table.zenderlist {
    margin: 15px;
    display: inline-block;
    border-collapse: collapse;
    border: 1px solid black;
}

table.zenderlist td {
    border-top: 1px solid black;
    padding: 10px;
    width: 200px;
    height: 60px;
    /*color: red;*/
}

input[name="omschrijving"], input[name="zender"], input[name="prognaam"],
input[name="datum"], input[name="begintijd"], input[name="eindtijd"],
input[name="presentator"], input[name="zendernaam"], input[name="numberID"],
input[name="progNaamAdd"], input[name="progDateAdd"], input[name="progBeginTijdAdd"],
input[name="progEindTijdAdd"], input[name="progPresentatorAdd"], input[name="progZendernaamAdd"], input[name="zenderToevoegen"] {
    width: 250px;
}

.zenderToevoegen {
    width: 115px;
    height: 25px;
    background: #4d4d4d;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: small;
    text-decoration: none;
}

footer {
    /*background-color: red;*/
}

/* ----------------------- login form----------------------- */

.login {
    width: 400px;
    background-color: #ffffff;
    margin: 100px auto;
}

.login h1 {
    text-align: center;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
    background-color: white;
}

.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    background-color: white;
}

.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}

.login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 48px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
    background-color: white;
}

.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

.login form input[type="submit"]:hover {
    background-color: #2868c7;
}

.fa-user, .fa-lock {
    background-color: #3274d6;
}